Source: glk-blorb-api
Section: libdevel
Priority: extra
Maintainer: Christoph Ender <christoph.ender@spellbreaker.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.0.0
Homepage: http://www.eblong.com/zarf/glk/

Package: glk-blorb-api-dev
Architecture: any
Depends: ${misc:Depends}
Description: Header files for development based on the GLK blorb-layer API.
 This package provides the generic gi_blorb.h file which is required for
 development based on the blorb layer of Andrew Plotkin's GLK API.
